.main{
  width: 75%;
  background-color: white;
  margin-bottom: 5rem;
  transform: translate(18%, 7%);
  font-family:'Open Sans', sans-serif;
}

.main h3{
  padding: 2%;
  color: rgb(77, 75, 75);
  /* font-weight: 10%; */
}
.main h6{
  padding:0% 2% 0% 2%;
  color: rgb(77, 75, 75);
  margin-bottom: 10px;
  /* font-size: medium; */

}

.country{
  width: 95%;
  height:6vh;
  transform: translate(2.3%);
  color: rgb(77, 75, 75);
}

.sub-1{
width:90%;
display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  /* align-items: center; */
  justify-content: flex-start;
  /* position: fixed; */

}
.submit button{
  width: 98%;
  height: 45px;
  margin-top: 10px;
  margin-left: 10px;
  margin-bottom: 15px;
  padding: 2%;
  background-color: #045F86;
  color: white;
  border: none;
  border-radius: 2px;
 
}

.cancel button{
  width: 98%;
  height: 45px;
  margin-left: 10px;
  margin-bottom: 15px;
  padding: 2%;
  background-color: #ababac;
  color: white;
  border: none;
  border-radius: 2px;
 
}

h5{
  font-weight: bolder;
  margin-left: 19px;
  margin-bottom: 10px;
 }
 h4{
  font-weight: bolder;
  margin-left: 19px;
  margin-bottom: 10px;
 }
 .fname{
  width: 47%;
  height:6vh;
  margin-left:2%;
 }
 .lname{
  width: 47%;
  height:6vh;
  margin-left:2%;
 }
 .mname{
  width:47%;
  margin: 2% 2% 2% 2%;
  height:6vh;
  
  /* margin-left: -13rem;  */
 }

 .end{
  width:90%;
  display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: flex-start;
    margin-left:2%;
    margin-bottom: 20px;

 }
 .code{
  width: 20%;
  height:6vh;
  margin-left: 10px;

 }
 .phone{
  width: 50%;
  height: 6vh;
  margin-left: 20px;
 }
 .val {
  color: red;
  font-size: 12px;
}
.email{
  width: 47%;
  height:6vh;
  margin-left:-26rem;
  margin-top: 75px;
  margin-bottom: 25px;
}
.bank-name{
  width: 110%;
  height:6vh;
  margin-left:1rem;
  /* margin-top: 5px; */
  margin-bottom: 2px;
}
.accountNo{
  width: 110%;
  height:6vh;
  margin-left:1rem;
  margin-top: 5px;
  margin-bottom: 25px;
}
.ReAccountNo{
  width: 110%;
  height:6vh;
  margin-left:1rem;
  margin-top: -18px;
  margin-bottom: 25px;
}
.bankFields{
  width:93%;
  display: flex;
    flex-wrap: wrap;
    flex-direction: row;
  
}
.bankAccountInfo{
  margin-top: 10px;
  background-color: rgb(228, 245, 245);
  width: 95%;
  margin-left: 10px;
  margin-bottom: 30px;
}